<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalape単o</title>
    <link rel="stylesheet" href="frontstyle.css">
</head>
<body >
    <div class="container" >
        <h1>Jalape単o</h1>
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h3>Welcome to Our Restaurant Jalape単o</h3>
        <h1>Rich Healthy and Vegetarian Food</h1>
        <p>Jalape単o has many chain all across India. we have some amazing recipes
            and the most talented chefs in the country.</p>
    </div>
    <div class="search">
        <input type="text" placeholder="Search Food">
    </div>

    <div class="submit">
        <a href="#">Submit</a>
    </div>
</body>
</html>
